.centar{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project h1 span{
    font-weight: 200;
  }
  