.ca{
    flex:1;
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.ca1{
    flex: 2;
    text-align: center;
    justify-content: center;
    
}
.ci{
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
}
h5{
    color: rgba(39, 162, 228, 0.916);
  }
