.main{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.main-gallery{
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: rgb(47, 45, 45);
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-shadow: 2px 2px 5px rgb(41, 36, 36);
    box-shadow: 1px 1px 10px rgb(41, 36, 36);
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.gallery h1{
    border-bottom: 2px solid;
    border-color: rgb(47, 45, 45);
  }
.gallery h1 span{
    font-weight: 200;
  }
 .box{
    columns: 3;
    padding: 15px;
   }
 @media only screen and (max-width: 720px){
    .box{
   columns:2;
  }
  .main-gallery{
    width:100%;
  }
  }
  @media only screen and (max-width: 620px){
    .box{
   columns:1;
  }
  .gallery h1{
   font-size: 30px;
  }
  .main-gallery{
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  }
    
  
 
   