
.mainhome{
    top: 10;
    width: 100%;
    height: 100vh;

}
video{
    top: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
  
    padding-top: 20px;
    top: 100px;
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    
}
.overlay{
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 16, 16, 0.5);
  
}
.text_colum{
   
    display: flex;
    flex-direction: row;
   
}
.text_contenar{
    display: flex;
    width: 50%;
    justify-items: center;

}
@media only screen and (max-width: 990px){
    .content{
        top: 200px;
    }
    .overlay{
        top: 20;
    }
  
  }